<h1>Editing Duplicate Group</h1>




<table class='duplicates'>
	<tr>
	  <th>Primary Key</th>
	  <th>Name</th>
	  <th>Entity Type</th>
	  <th>Longitude (x)</th>
	  <th>Latitude (y)</th>
	  <th>Height (z)</th>
	  <th>Auto Remediation</th>
	  <th>Auto Transfer</th>
	  
	  <th>OR remediation</th>
	  <th>OR transfer</th>
	   <th>OR comment</th>
	   <th>Manual remediation</th>
	   <th>Manual transfer</th>
	 
	  </tr>
  

<%= render 'form' %>

<% content_for(:head) do %>
  <%= stylesheet_link_tag    'duplicates', media: 'all', 'data-turbolinks-track' => true %>
  <% end %>

<%= link_to 'Show', @duplicate %> |
<%= link_to 'Back', duplicates_path %>
