// Place all the styles related to the duplicates controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

table.duplicates {
	background: #dddddd;
	border: black 1px;
}

table.duplicates td {
	text-align: center;
}

table.duplicates td.nowell {
	font-weight: bold
}

tr.delete {
	
	background: #ffdddd;
}

tr.keep {
	
	background: #ddffdd;
}

tr.unknown {
	
	background: #dddddd;
}

#sidebar {display: none;}
#main {width:100%;}

#manual-remediation {
	border: 2px solid #dddddd;
	background: #ddddff;
	width: 30em;
	margin: 5px;
	margin-left: 0px;
	padding: 3px;
    -moz-border-radius: 8px;
    border-radius: 8px;
}

.remediation {
	border: 1px solid black;
	font-size: 9pt;
	width: 80em;
}
